@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
          min-width: auto;
          text-align: center;
          font-size: 1.5em;
          font-family: 'Bebas Neue', cursive;
          overflow: scroll;
          color: rgb(255, 255, 255);
          background: black;
        }
        .home {
          margin: 0.7em auto 0.3em;
          font-size: 3em;
          color: rgb(255, 255, 255);
          border-bottom: 5px solid #ffffff;
        }

        .container {
          margin: 1em auto 1em;
          width: 40%;
          height: 80%;

          justify-content: center;
          text-align: center;
        }
        .artist{
          display: flex;
          flex-direction: column;
          justify-content: center;
          background: rgb(209, 209, 209);
          width: 250px;
          height: 250px; 
          min-width: 70px;
          min-height: 80px;
          border-radius: 15px; 
          margin: 10px;
          transition: transform ease 300ms;
        }
        .artist:hover {
          transform: translate(0, -15px);
          background:  rgb(255, 255, 255);
        }
        img {
          margin: 0.5em auto 0.5em;
          width: 70%;
          display: block;
          border-radius: 50%;
          min-width: 50px;
        }
        a {
          text-decoration: none;
          transition: background-position 275ms ease;
          overflow: hidden;
        }
        a:link {
          color: rgb(0, 0, 0);
        }
        /* visited link */
        a:visited {
          color: rgb(214, 13, 204);
        }
        /* selected link */
        a:active {
          color: rgb(224, 142, 231);
        }


        @media screen and (max-width: 1280px) {
          body {
            font-size: 14px;
          }
          h1 {
            color: rgb(255, 255, 255);
            margin: 0.5em auto 0.5em;
          }
          .container {
            width: 90%;
          }
          .artist{
            width: 80px;
            height: 85px;
            margin: 5px;
            border: 1px solid whitesmoke;
            border-radius: 15px; 
            transition: transform ease 300ms;
          }
          .artist:hover {
            transform: translate(0, -5px);
          }
          img {
            width: 70%;
          }
          a {
            font-size: 0.7em;
          }

        }


